<div class='row front_content_main_row profile_event_edit_main_row'>
  <div class="w350_centerd" id="content">
    <div class="row front_page_content_row">
      <div class="col-12">
        <%= form_for(@item, url: { action: :create }, html: { method: :post, class: "row front_edit_form", onsubmit: "return run_ajax_submit_if_modal(this);", success_func: "refresh_model_items_htmls_in_list_and_close_modal" }) do |f| %>
          <div class="col-12">
            <%= render "/layouts/my_error_messages_row", item: @item %>
            <div class="row">
              <div class="col-12">
                <div class="field form-group">
                  <label>EventTicketPack name</label>
                  <em>(optional, <%= EventTicketPack.validators_on(:name)[0].options[:maximum] %> characters maximum)</em><br />
                  <%= f.text_field :name, class: "form-control form-control-sm" %>
                </div>
                <div class="field form-group">
                  <label>Max tickets count for sold in this pack</label>
                  <%= f.number_field :pack_capacity, :required => true, class: "form-control form-control-sm" %>
                </div>
                <div class="field form-group">
                  <label>One ticket cost, EUR</label>
                  <%= f.number_field :ticket_cost_eur, :required => true, step: 0.01, class: "form-control form-control-sm" %>
                </div>
                <div class="field form-group">
                  <label>TicketsPack sell rule</label><br />
                  <%= f.select(:event_ticket_pack_sale_rule, options_for_select(EventTicketPack.event_ticket_pack_sale_rules.map { |k,v| [k.capitalize, k] }, { selected: @item.event_ticket_pack_sale_rule }), {}, { class: "form-control form-control-sm" }) %>
                </div>
                <div class="form-group">
                  <label>&nbsp;</label><br />
                  <%= f.submit "Save", class: 'btn btn-sm btn-success' %>
                </div>
              </div>
            </div>
            <div class="row hidden_in_modal">
              <div class="col-12">
                <br /><br /><br /><br /><br /><br />
                <%= link_to "Back to the event page", profile_my_event_path(@current_my_event.id) %>
                <br/><br/><br/><br/><br/>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

