<div class='row front_content_main_row modal_edit_main_row'>
  <div class="w500_centerd" id="content">
    <div class="row front_page_content_row">
      <div class="col-12">
        <div class="row hidden_in_modal">
          <div class="col-12">
            <h4>MyPayoutOptionPage</h4>
          </div>
        </div>
        <%= form_for(@item, url: { action: :create }, html: { method: :post, class: "row front_edit_form" }) do |f| %>
          <div class="col-12">
            <%= render "/layouts/my_error_messages_row", item: @item %>
            <div class="row">
              <div class="col-12">
                <div class="field form-group">
                  <%= f.label :bank_code_name %>
                  <em>(<%= PayoutOption.validators_on(:bank_code_name)[0].options[:maximum] %> characters maximum)</em><br />
                  <%= f.text_field :bank_code_name, class: "form-control form-control-sm" %>
                </div>
                <div class="field form-group">
                  <%= f.label :bank_account_number %>
                  <em>(<%= PayoutOption.validators_on(:bank_account_number)[0].options[:maximum] %> characters maximum)</em><br />
                  <%= f.text_field :bank_account_number, class: "form-control form-control-sm" %>
                </div>
                <div class="form-group">
                  <%= f.submit "Save", class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="row hidden_in_modal">
          <div class="col-12">
            <br /><br /><br /><br /><br /><br />
            <%= link_to "Back to payout options list page", profile_my_payout_options_path %>
            <br/><br/><br/><br/><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

