<tr <%= tpack.item_row_attributes_html %> >
  <td>
    <a href="<%= edit_profile_my_event_tickets_pack_path(tpack.event_id, tpack.id) %>" onclick="return show_in_modal_link(this, 'proj_modal_main client_tpack_edit_modal');" name="event_tpack_edit_<%= tpack.id %>">
      <%= "TicketsPack \##{ tpack.id } #{ tpack.name.to_s.ehtml }" %>
    </a><br/>
    Name: <%= tpack.name.to_s.ehtml %><br/>
    SaleRule: <%= tpack.event_ticket_pack_sale_rule.to_s.ehtml %><br/>
  </td>
  <td>
    Price: <%= tpack.ticket_cost_eur.to_s %>&nbsp;EUR<br/>
    <span title='Tickets sold count' style='color: green;'><%= tpack.tickets_sold_cnt %></span>&nbsp;/&nbsp;
    <span title='Tickets payment in process' style='color: orange;'><%= tpack.tickets_payment_in_process_cnt %></span>&nbsp;/&nbsp;
    <span title='Tickets fail count' style='color: red; font-weight: 600;'><%= tpack.tickets_pay_fail_cnt %></span>&nbsp;/&nbsp;
    <span title='All tickets count' ><%= tpack.pack_capacity %></span>
  </td>
</tr>
