<div class="row event_chat_main_block">
  <form class="w500_centerd my_chat_msgs_list_block" method='POST' action="<%= payout_profile_my_event_path(@current_my_event.id) %>" onsubmit2="return run_ajax_submit_if_modal(this);" success_func="refresh_model_items_htmls_in_list">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="row hidden_in_modal">
      <div class="col-12">
        <div class="form-group">
          <h3 class="col-12">Payout
            <a href="<%= party_path(@current_my_event.id) %>">
              <%= @current_my_event.client_event_name_html %>
            </a>
          </h3><br/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Payed to event sum</label>
          <span><%= @current_my_event.calc_payed_sum_eur.to_price_html('EUR') %></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Payout sum</label>
          <span class='text-success'><%= @current_my_event.calc_payout_sum_eur.to_price_html('EUR') %></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Input your bank card for payout</label>
          <div class="input-group">
            <input value='41111111111111111' type="text" name="card_code" class='form-control form-control-sm' />
          </div>
          <small class="form-text text-muted">Please input your bank card for payout</small>
        </div>
      </div>
    </div>
    <div class="row add_new_msg_block">
      <div class="col-12 no_padding_left">
        <div class="row">
          <div class="col-3 no_padding hidden_if_form_loading_update_with_xhr">
            <button type="submit" class='btn btn-outline-success btn-sm'>Run payout</button><br/>
          </div>
        </div>
        <br/><br/><br/><br/>
      </div>
    </div>
  </form>
</div>
