<div class='row front_content_main_row profile_event_edit_main_row'>
  <div class="w500_centerd" id="content">
    <div class="row front_page_content_row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <a class="" href="<%= @item.client_default_url %>" target='_blank' >View this event as client</a><br /><br />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= render "/layouts/my_error_messages_row", item: @item %>
            <span class='public_status_span'>Visibility status: <%= @item.visibility_status %></span>
          </div>
        </div>

        <%= form_for(@item, url: { action: :change_event_status }, html: { method: :post, class: "row front_edit_form return_to_edit_or_can_not_edit_row" }) do |f| %>
          <% if @item.can_owner_publish_this_event? %>
            <div class="col-12">
              <div class="form-group">
                <%= f.label 'You can publish this event:' %><br />
                <em>If you now publish this event and someone pay for take part in this event - you will lose some small comission as tax for your errors if you will deside to cancel it.</em><br />
                <%= f.submit "Publish this event", class: 'btn btn-sm btn-outline-success', name: "to_status_publish_this_event", onclick: "return confirm('Are you sure?');" %>
              </div><br /><br />
            </div>
          <% end %>
          <% if @item.can_owner_return_to_unpublished? %>
            <div class="col-12">
              <div class="form-group">
                <%= f.label 'You can unpublish this event' %><br/>
                <%= f.submit "Unpublish this event now", class: 'btn btn-sm btn-outline-success', name: "to_status_returned_for_edit" %>
              </div><br/><br/>
            </div>
          <% end %>
          <% if @item.can_owner_decline_this_event? %>
            <div class="col-12">
              <div class="form-group">
                <%= f.label 'You can decline this event and we return money to payed participants:' %><br/>
                <em>If you now decline this event - you will lose some small comission as tax for your error.</em><br />
                <%= f.submit "Cancel this event", class: 'btn btn-sm btn-outline-danger', name: "to_status_decline_this_event", onclick: "return confirm('Are you sure?');" %>
              </div><br/><br/>
            </div>
          <% end %>
        <% end %>
        <div class="row profile_event_images_block">
          <div class="col-12 catalog_item_img_block2">
            <% if @item.valid_event_imgs.any? %>
              <div class="owl-carousel owl-theme owl_prod_list_slider">
                <% @item.valid_event_imgs.each do |sm_img| %>
                  <div class='item'>
                     <table>
                        <tbody>
                           <tr>
                              <td>
                                <img class='slider_sm_img' src='<%= sm_img.image_sm_url %>' />
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                <% end %>
             </div>
            <% else %>
              <div class="catalog_item_subimg_block">
                <div class="catalog_item_img_cell">
                  <img src="/pics/no_image.png" alt="" title="" />
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% if @item.can_owner_edit_this_event? %>
          <div class="row">
            <div class="col-12">
              <a href="<%= @item.profile_event_images_list_url %>">Add/delete/edit event images</a>
            </div>
          </div>
        <% end %>
        <%= form_for(@item, url: @item.profile_default_url, html: { method: :post, class: "row front_edit_form" }) do |f| %>
          <div class="col-12">
            <%= render "/layouts/my_error_messages_row", item: @item %>
            <div class="row">
              <div class="col-12">
                <h3 class='my_event_name'><%= @item.name.ehtml %></h3><br />
                <div class="field form-group">
                  Event start at: <%= @item.event_start_time_with_default.client_stamp_html %><br />
                </div>
                <div class="field form-group">
                  Event finish at: <%= @item.event_finish_time_with_default.client_stamp_html %><br />
                </div>
                <div class="field form-group">
                  <%= f.label 'Event description:' %><br />
                  <%= @item.description.to_s.text_to_html %>
                </div><br /><br />
                <a href="<%= my_chat_profile_my_event_path(@item.id) %>" class='btn btn-outline-success btn-sm' onclick="return show_in_modal_link(this, 'proj_modal_main my_chat_modal');" name="my_chat_<%= @item.id %>">
                  My chat
                </a><br /><br />
                <div class="form-group">
                  <%= link_to 'Edit this event', { action: :edit }, class: 'btn btn-sm btn-outline-primary' %>
                  <br /><br />
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-12">

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <br /><br />
            <table class="table">
              <thead>
                <tr>
                  <th>TicketsPack&nbsp;
                    <a href="<%= new_profile_my_event_tickets_pack_path(@item.id) %>" class='btn btn-sm btn-outline-success' title='Create new TicketPack' onclick="return show_in_modal_link(this, 'proj_modal_main client_tpack_edit_modal');" name="event_tpack_edit_0">
                      Add new
                    </a>
                  </th>
                  <th>Sold</th>
                </tr>
              </thead>
              <tbody class='my_event_tpacks_list_<%= @item.id %>'>
                <% @item.event_ticket_packs.each do|tpack| %>
                  <%= my_event_tpack_item_row_html(tpack) %>
                <% end %>
              </tbody>
            </table>
            <br /><br />
            <%= link_to 'Edit event tickets packs', profile_my_event_tickets_packs_path(@item.id), class: 'btn btn-sm btn-outline-primary' %>
            <br/><br/>
            <%= link_to 'Payout', payout_profile_my_event_path(@item.id), class: 'btn btn-sm btn-outline-success' %>
            <br/><br/><br/><br/><br/>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <br /><br /><br /><br /><br /><br />
            <%= link_to "Back to events list", profile_my_events_path %>
            <br/><br/><br/><br/><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

